<div class="bg-initial">
    <div class="blur-bg"></div>
    <audio controls loop autoplay>
        <source src="assets/sounds/city-sound.ogg" type="audio/mp3">
        Seu navegador não suporta a reprodução de áudio.
      </audio>
    <div class="letters card">
        <h1 >Bem vindo a Valoran</h1>
        <h3> A nação humana de Demacia, o assombroso império de Noxus e os moradores de todas 
            as cidades-estado aguardam ansiosamente pelo torneio que irá acabar com os intermináveis conflitos.</h3>
        <h3>O reino do vencedor terá o poder de controlar todos os outros em Valoran.</h3>
        <h3>Nós o convidamos a prestigiar este torneio!</h3>
        <div class="space">
            <button class="btn btn-primary" [routerLink]="['/tournament']" > Participar do Torneio</button>
        </div>
    </div> 
</div>
